@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.interest-choices label {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #007bff;
    border-radius: 20px;
    color: #007bff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.interest-choices input[type="checkbox"] {
    display: none; /* Cache la case à cocher */
}

.interest-choices input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #fff;
}
