.navbar {
    width: 60%;
    display: flex;
    flex-direction: column;

    &_logo {
        width: 10rem;
    }

    &_collapse_link {
        display: flex;
        border-radius: 16px;
        width: 14rem;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        background-color: $color-primary;
        color: white;
        border: none;
    &:hover {
        background-color: #F07B42;
    }
    & > svg {
        width: 1.25rem;
        margin-right: .5rem;
    }  
    
    }

    &_icon {
        width: 1.5rem;
    }

    &_list_a {
        color: black;
        text-decoration: none; 
        font-size: .75rem;

        &:hover {
            border-bottom: 2px solid $color-primary; 
        }
    }
    
}

.search-form {
    width: 18rem;
    & > .position-relative  {
        width: 100%;
        position: relative;

        & > input {
            background-color: #F0F2F5;
            border-radius:  1rem;
            padding: 0.65rem;
            height: 50px;
            transition: width 0.3s ease, margin-left 0.3s ease;
            &:focus {
                width: 600px;
                margin-left: -300px;
                border: solid 3px;
                border-color: #202730 !important;
                box-shadow: none;
            }
        }
        & > button {
            position: absolute;
            background-color: $color-primary;
            color: white;
            border: none;
            width: 2.5rem;
            border-radius: 0.75rem;
            right: 0.5rem;
            top: 18%;

            &:hover {
                background-color: #F07B42;
            }         
        }
        & > .suggestions-list {
            width: 600px;
            margin-left: -300px;
        }
    }

   
}

.nav-item {
    position: relative;
}

.nav-item:hover .dropdown-menu-container {
    display: block;
}

.dropdown-menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 500%;
}

.divider {
    height: 2px;
    border-bottom: 1px solid #ACB8C7;
}

.dropdown-menu {
    display: flex;
    width: 150%;
    border: none;
}

.dropdown-menu .col-4 {
    background-color: #f0f0f0;
}

.dropdown-menu .col-8 .dropdown-item {
    color: #000;
    background-color: #fff;
}

.point {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: #ACB8C7;
    margin-left: 1rem;
    
}
