.card {
    width: 31rem;
    height: 25rem;
    box-shadow : rgba(108, 129, 157, 0.5) 0px 4px 8px 0px;
    border-radius: 16px;
    margin-top: 2.1rem;
    margin: 2.1rem auto 5rem;

    .card-body {
    
        & > h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            font-family: "Nunito Sans", sans-serif;
        }

        & > p {
            font-size: 1rem;
            font-family: "Nunito Sans", sans-serif;
            line-height: 1.5rem;    
        }

        & > .radio-box {
                width: 100%;
            & > .form-check > #registration_form_userType {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }


    } 
}

.custom-radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
